##############################################################
#
# List of reviewers for web-dev branch
#
##############################################################

# These owners will be the default owners for everything in the repo.
* @clipboard1
